.help {
    position: fixed;
    width: 50;
    height: 50;
    right: 10px;
    bottom: 10px;
    border-radius: 20px;
}
.table-page {
    margin-top: 2.2%;
    h1 {
        text-align: center;
    }
    h2 {
        text-align: left;
        font-size: 1.1em;
    }
    .button-option {
        display: flex;
        margin: 5px;
        width: fit-content;
    }
}
.search-light {
    text-align: left;
    font-size: 1.2em;
    form {
        display: flex;
        flex-direction: row;
        button {
            border-radius: 0px;
        }
        button:disabled {
            cursor: auto;
            color: #a9b1c2;
        }
        input {
            border: 1px solid black;
        }
    }
}
.search-dark {
    text-align: left;
    font-size: 1.2em;
    form {
        display: flex;
        flex-direction: row;
        button {
            border-radius: 0px;
        }
        button:disabled {
            cursor: auto;
            color: grey;
        }
        input {
            border: 1px solid black;
        }
    }
}
.pagination-dark {
    margin: 10px;
    align-items: center;
    text-align: center;
    button:disabled {
        cursor: auto;
        color: grey;
    }
}
.pagination-light {
    margin: 10px;
    align-items: center;
    text-align: center;
    button:disabled {
        cursor: auto;
        color: #a9b1c2;
    }
}
