.form-container-dark {
    /*border: 2px solid red;*/
    text-align: left;
    font-size: 1.4em;
    max-width: 60%;
    margin: auto;
    .atencion {
        width: 50%;
        margin: auto;
        input[type=time] {
            height: 50px;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
    }
    .arrow {
        position: fixed;
        bottom: 10px;
        right: 10px;
        margin: 5px;
        padding: 10px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 1.5s ease;
    }
    .arrow:hover {
        font-size: 1.3em;
        transform: translateX(10px);
        transition: all 1s ease;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
        font-size: 2em;
        color: red;
        text-decoration: underline;
    }
    .options {
        margin: auto;
        text-align: center;
        background-color: rgb(71, 70, 71, 0.1);
        color: white;
        width: 300px;
        border-radius: 5px;
    }
    button {
        margin: 5px;
        border: none;
        color: white;
        padding: 16px;
        width: fit-content;
        text-decoration: none;
        cursor: pointer;
        transition: all 1s ease;
    }
    button:hover {
        color: #668ac4;
        box-shadow: 10px 5px 5px grey;
        transition: all 1s ease;
    }
    button:disabled {
        color: grey;
        cursor: auto;
    }
    input[type=text], input[type=number], input[type=password] {
        border: none;
        height: 50px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: #f8f8f8;
        color: black;
    }
    input[type=datetime-local], input[type=date] {
        height: 50px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    input[type=checkbox] {
        text-align: center;
        transition: all 2s ease;
    }
    input[type=checkbox]:checked {
        opacity: 1;
        transform: rotate(50deg) scale(1);
    }
    .chk_enable {
        border-bottom: 2px solid red;
        span {
            color: rgb(100, 200, 190);
        }
    }

    input {
        transition: all 1.5s ease;
    }
    input:disabled {
        transition: all 1.5s ease;
        background-color: grey;
        color: white;
    }
    textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: #f8f8f8;
        color: black;
        resize: none;
    }
    textarea:disabled {
        background-color: grey;
        color: white;
    }
    select {
        width: 100%;
        height: 50px;
        padding: 16px 20px;
        border-radius: 4px;
        background-color: #f1f1f1;
        color: black;
    }
    .enable-options {
        width: fit-content;
        .enable-label {
            color: black;
            background-color: lightgray;
            margin: 5px;
            border: 2px solid black;
        }
        span {
            color: red;
        }
    }
}

.form-container-light {
    /*border: 2px solid red;*/
    text-align: left;
    font-size: 1.4em;
    max-width: 60%;
    margin: auto;
    .atencion {
        width: 50%;
        margin: auto;
        input[type=time] {
            height: 50px;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
    }
    .arrow {
        position: fixed;
        bottom: 10px;
        right: 10px;
        margin: 5px;
        padding: 10px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 1.5s ease;
    }
    .arrow:hover {
        font-size: 1.3em;
        transform: translateX(10px);
        transition: all 1s ease;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
        font-size: 2em;
        color: red;
        text-decoration: underline;
    }
    .options {
        margin: auto;
        text-align: center;
        background-color: rgb(71, 70, 71, 0.1);
        color: black;
        width: 300px;
        border-radius: 5px;
    }
    button {
        margin: 5px;
        border: none;
        color: white;
        padding: 16px;
        width: fit-content;
        text-decoration: none;
        cursor: pointer;
        transition: all 1s ease;
    }
    button:hover {
        color: #545b69;
        box-shadow: 10px 5px 5px grey;
        transition: all 1s ease;
    }
    button:disabled {
        color: white;
        background-color: grey;
        cursor: auto;
    }
    input[type=text], input[type=number], input[type=password] {
        border: 1px solid black;
        height: 50px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        color: black;
    }
    input[type=datetime-local], input[type=date] {
        height: 50px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    input[type=checkbox] {
        text-align: center;
        transition: all 2s ease;
    }
    input[type=checkbox]:checked {
        opacity: 1;
        transform: rotate(50deg) scale(1);
    }
    .chk_enable {
        border-bottom: 2px solid red;
        span {
            color: rgb(100, 200, 190);
        }
    }

    input {
        transition: all 1.5s ease;
    }
    input:disabled {
        transition: all 1.5s ease;
        background-color: #878787;
        color: white;
    }
    textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: white;
        color: black;
        resize: none;
    }
    textarea:disabled {
        background-color: #878787;
        color: white;
    }
    select {
        width: 100%;
        height: 50px;
        padding: 16px 20px;
        border-radius: 4px;
        background-color: #f1f1f1;
        color: black;
    }
    select:disabled {
        background-color: #878787;
    }
    .enable-options {
        width: fit-content;
        .enable-label {
            color: black;
            background-color: lightgray;
            margin: 5px;
            border: 2px solid black;
        }
        span {
            color: red;
        }
    }
}
