.card-container {
    margin: 0 auto;
    margin-top: 12%;
    /*border: 2px solid red;*/
    height: 100%;
    width: 60%;
    h1 {
        text-align: center;
    }
    .options {
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        max-width: 80%;
        border-radius: 4px;
        align-items: center;
        text-align: center;
        transition: all 1s ease-in-out;
        .btn-option {
            font-size: 0.9em;
            width: 180px;
            height: 120px;
            margin: 5px;
            padding: 10px;
            transition: all 1s ease;
        }
        .btn-option:hover {
            transition: all 0.5s ease;
        }
    }
    .help {
        position: fixed;
        width: 50;
        height: 50;
        right: 10px;
        bottom: 10px;
        border-radius: 20px;
    }
    .create-light {
        border: 2px solid white;
        border-bottom: 2px solid black;
    }
    .create-light:hover {
        border: 2px solid black;
        transform: translateX(-10px);
        transition: all 0.5s ease-in-out;
    }
    .create-dark {
        border: 2px solid #242424;
        border-bottom: 2px solid white;
    }
    .create-dark:hover {
        border: 2px solid white;
        transform: translateX(-10px);
        transition: all 0.5s ease-in-out;
    }
}
